// Подключение общих CSS-переменных
:root {
	--clr-white: #fff;
	--clr-black: #000;
	--clr-blue-primary: #63afcd;
	--clr-black-secondary: #828282;
	--clr-accent: #ff374f;
	--clr-blue-static: #edf4f4;
}
