.hero {
	@extend %fl-c;
	align-items: center;
	&.page__hero {
		padding-top: var(--header-height);
		@media (max-width: $tablet) {
			padding-top: calc(var(--header-height) + rem(40));
		}
	}
	> .mousewheel {
		position: absolute;
		z-index: 4;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		@extend %ml;
		@media (max-width: em(1223.98)) {
			display: none;
		}
	}

	&__container.container--xl {
		width: 100%;
	}

	&__container:not(.container--xl) {
		position: relative;
		@extend %fl-c;
		align-items: center;
		flex: 1 1 auto;
		&:not(:last-child) {
			margin-bottom: rem(35);
			@media (min-height: em(1080)) {
				margin-bottom: rem(55);
			}
			@media (max-width: $mobileSmall) {
				margin-bottom: rem(55);
			}
		}
	}

	&__houses {
		width: 100%;
		min-height: rem(260);
		flex: 1 1 auto;
		position: relative;
		display: flex;
		align-items: flex-start;
		@media (max-width: $notebook) {
			padding-bottom: 20%;
		}
		@media (max-width: $tablet) {
			padding-bottom: 30%;
		}
		@media (max-width: $mobileSmall) {
			padding-bottom: 80%;
		}
		&::after,
		&::before {
			content: '';
			position: absolute;
			@extend %bg-con;
			animation: shakeY 45s ease-in-out infinite;
		}
		&::before {
			content: '';
			top: 0;
			right: 0;
			width: rem(44);
			height: rem(41);
			background-image: url('@temp/hero/balloon_1.png');
			filter: blur(3.5px);
			animation-delay: 2s;
			animation-name: shakeY-4;
			animation-duration: 35s;
			@media (max-width: $mobileSmall) {
				top: 25%;
				right: 20%;
				width: rem(21);
				height: rem(19);
			}
			@media (max-width: $mobileMini) {
				top: 20%;
			}
		}
		&::after {
			top: -35%;
			right: -10%;
			width: rem(74);
			height: rem(98);
			background-image: url('@temp/hero/balloon_2.png');
			@media (max-width: $mobileSmall) {
				top: 15%;
				right: 8%;
				width: rem(35);
				height: rem(46);
			}
			@media (max-width: $mobileMini) {
				top: 5%;
			}
		}
	}

	&__house {
		position: absolute;
		&::after {
			content: '';
			position: absolute;
			z-index: 4;
			@extend %bg-con;
			animation: pulse 5s ease-in infinite;
		}
		&--1 {
			left: rem(math.div(-373, 7));
			top: rem(math.div(-269, 20));
			width: rem(373);
			height: rem(269);
			&::after {
				top: rem(180);
				left: 0;
				width: rem(447);
				height: rem(224);
				background-image: url('@temp/hero/clouds_1.png');
			}
			@media (min-width: $tablet) {
				animation: shakeY-2 20s ease-in-out infinite alternate;
			}
			@media (max-width: em(1079.98)) {
				width: rem(343);
				left: -2%;
				top: -12%;
			}
			@media (max-width: $tablet) {
				display: none;
			}
		}
		&--2 {
			z-index: 3;
			top: 50%;
			left: 50%;
			width: rem(752);
			height: rem(542);
			&::after {
				top: rem(370);
				left: 50%;
				width: rem(1257);
				height: rem(326);
				background-image: url('@temp/hero/clouds_2.png');
				transform: translateX(-50%);
				animation-name: pulse-2;
			}
			animation: shakeY-3 20s ease-in-out infinite alternate;
			@media (max-width: $notebook) {
				width: rem(700);
				&::after {
					top: rem(340);
				}
			}
			@media (max-width: $tablet) {
				width: rem(555);
				height: rem(400);
				&::after {
					width: rem(871);
					height: rem(226.33);
					top: rem(240);
				}
			}
			@media (max-width: $mobileSmall) {
				width: rem(381.0851745605469);
				height: rem(274.6651306152344);
				&::after {
					width: rem(637);
					height: rem(165);
					top: rem(180);
				}
			}
		}
		&--3 {
			right: rem(math.div(-726, 2));
			bottom: rem(math.div(-523, 2.5));
			width: rem(680);
			height: rem(490);
			&::after {
				top: 60%;
				right: 12%;
				width: rem(510);
				height: rem(192);
				background-image: url('@temp/hero/clouds_3.png');
			}
			@media (min-width: $tablet) {
				animation: shakeY-2 20s ease-in-out infinite alternate;
			}
			@media (max-width: $notebook) {
				width: rem(580);
				right: rem(math.div(-726, 2.8));
				bottom: rem(math.div(-523, 2));
				&::after {
					top: 55%;
				}
			}
			@media (max-width: $tablet) {
				display: none;
			}
		}
	}

	&__house img {
		width: 100%;
		object-fit: cover;
	}

	&__title.title {
		position: relative;
		z-index: 5;
		text-align: center;
		max-width: rem(1100);
		margin-bottom: auto;
		@media (max-width: $mobileSmall) {
			font-size: rem(22);
		}
		@media (max-width: $mobileMini) {
			font-size: rem(20);
		}
	}
	&__button {
		position: relative;
		z-index: 5;
		display: flex;
	}
	&__benefits {
		position: relative;
		z-index: 5;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.benefits-row__item {
			@media (min-width: $mobileNormal) {
				flex: 0 0 rem(260);
				width: rem(260);
				margin: 0.75%;
			}
			@media (min-width: $notebook) {
				flex: 1 1 13%;
				max-width: rem(263);
			}
		}
	}
}
