.tech {
	padding-bottom: rem(45);
	@media (min-height: em(1079.98)) {
		padding-bottom: rem(95);
	}

	&__container {
		position: relative;
		z-index: 2;
	}

	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: em(40, 42);
		}
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(30);
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
			gap: 0;
		}
	}

	&__card:last-child {
		.card-tech__image-ibg {
			margin-top: rem(40);
			padding-bottom: percent(363, 578);
		}
	}
}
