.call {
	@extend %fl-r-ct;
	@media (any-hover: hover) {
		&:hover {
			.call__icon {
				transform: rotate(-5deg) scale(1.05);
			}
		}
	}
	&__icon {
		display: block;
		flex: 0 0 rem(22);
		width: rem(22);
		height: rem(22);
		transition: transform 0.32s ease-in-out, fill 0.32s ease-in-out;
		& path {
			transition: fill 0.32s ease-in-out;
		}
	}

	&__number {
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 0.04em;
		margin-left: rem(11);
	}
}
