.return {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__icon {
		position: relative;
		z-index: 2;
		@extend %fl-a-ct;
		flex: 0 0 rem(45);
		width: rem(45);
		height: rem(45);
		border-radius: 50%;
		background-color: var(--clr-white);
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			width: 150%;
			height: 150%;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			background-color: var(--clr-white);
			opacity: 0.5;
			transform: translate(-50%, -50%);
			animation: op 2s ease infinite forwards;
		}
		animation: updown 2s ease infinite alternate;
	}
	&__text {
		position: relative;
		z-index: 3;
		transform: rotate(-90deg) translateX(rem(-70));
		font-weight: 500;
		font-size: 12px;
		line-height: 1;
		letter-spacing: 0.04em;
		color: #728095;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: rem(-30);
			width: rem(20);
			height: 1px;
			background-color: #728095;
			transform: translateY(-50%);
		}
	}
	&:focus {
		outline: none;
	}
}
