[hidden] {
	display: none;
}
.page > section {
	overflow: hidden;
	min-height: 100vh;
	padding-top: calc(var(--header-height) - rem(20));
	padding-bottom: calc(var(--header-height) - rem(20));
	@extend %bg-cov;
	@media (min-height: em(1080)) {
		padding-top: var(--header-height) + rem(45);
	}
	&._dark {
		position: relative;
		background-color: #222;
		background: linear-gradient(199.52deg, #161b22 9.98%, #202e43 70.51%, #0d1725 88.6%);
		color: var(--clr-white);
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			@extend %bg-cov;
			background-image: url('@temp/tech/smog.png');
			animation: shakeY 20s ease-in-out infinite alternate;
		}
	}
	&:not(._dark) {
		background-image: url('@temp/hero/bg.jpg');
	}
}
.title {
	@extend %tit;
}

@keyframes shakeY {
	0%,
	to {
		transform: translateZ(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(0px, -10px, 0);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate3d(0, 10px, 0);
	}
}
@keyframes shakeY-2 {
	0%,
	to {
		transform: translateZ(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(0px, -5px, 0);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate3d(0, 5px, 0);
	}
}
@keyframes shakeY-3 {
	0%,
	to {
		transform: translateX(-50%) translateY(-40%) translateZ(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(-50%, calc(-40% - 5px), 0);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate3d(-50%, calc(-40% + 5px), 0);
	}
}
@keyframes shakeY-4 {
	0%,
	to {
		transform: translateZ(0);
		filter: blur(3.5px);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(0px, -10px, 0);
		filter: blur(1.5px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate3d(0, 10px, 0);
		filter: blur(3.5px);
	}
}
@keyframes shakeY-5 {
	0%,
	to {
		transform: translateY(rem(100));
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(rem(-3), rem(97), rem(-3));
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate3d(rem(3), rem(103), rem(3));
	}
}
@keyframes pulse {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
@keyframes pulse-2 {
	0% {
		transform: scaleX(1) translateX(-50%);
	}
	50% {
		transform: scale3d(1.02, 1.02, 1.02) translateX(-50%);
	}
	to {
		transform: scaleX(1) translateX(-50%);
	}
}
@keyframes pulse-3 {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	50% {
		-webkit-transform: scale3d(1.17, 1.17, 1.17);
		transform: scale3d(1.17, 1.17, 1.17);
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
@keyframes op {
	from {
		opacity: 0.5;
		transform: translate(-50%, -50%) scale(0);
	}
	to {
		opacity: 0;
		transform: translate(-50%, -50%) scale(1.2);
	}
}
@keyframes updown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(rem(-4));
	}
	100% {
		transform: translateY(0);
	}
}
