[hidden] {
	display: none;
}
.page > section {
	min-height: 100vh;
	padding-top: var(--header-height);
	@extend %bg-cov;
	@media (min-height: em(1080)) {
		padding-top: var(--header-height) + rem(45);
	}
	@media (max-width: $tablet) {
		padding-top: calc(var(--header-height) + rem(40));
	}
	&._dark {
		background-color: #222;
		color: var(--clr-white);
	}
}
.title {
	font-weight: 300;
	font-size: rem(42);
	line-height: math.div(60, 42);
	letter-spacing: 0.04em;
	text-transform: uppercase;
	@media (max-width: em(1079.98)) {
		font-size: rem(40);
	}
	@media (max-width: $tablet) {
		font-size: rem(36);
	}
	@media (max-width: $mobile) {
		font-size: rem(32);
	}
	@media (max-width: $mobileNormal) {
		font-size: rem(30);
	}
	@media (max-width: $mobileSmall) {
		font-size: rem(26);
	}
	strong {
		font-weight: 600;
	}
}

@keyframes shakeY {
	0%,
	to {
		transform: translateZ(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(0px, -10px, 0);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate3d(0, 10px, 0);
	}
}
@keyframes shakeY-2 {
	0%,
	to {
		transform: translateZ(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(0px, -5px, 0);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate3d(0, 5px, 0);
	}
}
@keyframes shakeY-3 {
	0%,
	to {
		transform: translateX(-50%) translateY(-40%) translateZ(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(-50%, calc(-40% - 5px), 0);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate3d(-50%, calc(-40% + 5px), 0);
	}
}
@keyframes pulse {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
@keyframes pulse-2 {
	0% {
		transform: scaleX(1) translateX(-50%);
	}
	50% {
		transform: scale3d(1.02, 1.02, 1.02) translateX(-50%);
	}
	to {
		transform: scaleX(1) translateX(-50%);
	}
}
