//====================================================================================================
.footer {
	position: relative;
	z-index: 4;
	// margin-top: rem(-110);
	padding-bottom: rem(25);
	&__body {
		display: flex;
		align-items: flex-end;
		@media (max-width: $tablet) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__content {
		@media (max-width: $tablet) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
	}

	&__policy,
	&__rights,
	&__author span {
		font-size: rem(14);
		line-height: 1.71;
		letter-spacing: 0.04em;
		@media (max-width: $tablet) {
			&:not(:last-child) {
				margin-bottom: rem(5);
			}
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(13);
		}
	}

	&__policy {
		color: var(--clr-black);
		margin-right: auto;
		@media (max-width: $tablet) {
			margin-right: 0;
			order: 1;
		}
	}

	&__rights {
		margin-top: rem(15);
		text-align: center;
		color: var(--clr-black-secondary);
	}

	&__author {
		@extend %fl-r-bt;
		margin-left: rem(80);
		span {
			line-height: 1.2;
			margin-right: rem(12);
		}
		@media (max-width: $tablet) {
			margin-bottom: rem(5);
			margin-left: 0;
		}
		@media (max-width: $mobileNormal) {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: rem(15);
		}
		img {
			width: rem(140);
			flex: 0 0 rem(140);
			height: rem(43);
			object-fit: contain;
			@media (max-width: $tablet) {
				flex: 1 1 auto;
				order: 0;
				width: rem(120);
				order: 0;
			}
			@media (max-width: $mobileSmall) {
				width: rem(100);
			}
		}
	}

	&__return {
		display: none;
		transform: translateY(-100%);
		.return__text {
			transform: rotate(-90deg) translateX(rem(-35));
		}
		@media (max-width: $tablet) {
			display: flex;
		}
	}
}

//====================================================================================================
